// Colori
$white:#ffffff;
$blu_viola: #4E54D7;
$blu_viola_chiaro: #7176d1;
$viola: #6146C6;
$lavanda: #A081DB;
$lilla: #CD81DB;
$rosa: #DB81BB;
$verde_acqua: #D9FFF4;
$verde_acqua_scuro: #68ffd4;

//bg
$bg_primary_blue:rgba(160, 129, 219, 0.37); //jumbotron


// Font
$viola_dark:#290974;